@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Encode Sans Condensed', sans-serif;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}
.navbar{
    position: sticky;
    top: 0;
    z-index: 3;
    height: 100px;
    background: #13132B;
    box-shadow: inset 0 -10px 10px -14px rgba(0, 0, 0, 0.5);

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 6rem;
    
}
.logo{

    font-weight: 800;
    font-size: 20px;
    background: linear-gradient(116.86deg, #F5F5F5 33.19%, #2DFFFF 185.12%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

}
.left-nav > a{
    text-decoration: none;
    padding: 0 15px;
    font-size: 13px;
    background: linear-gradient(180deg, #2DFFFF 0%, #FFFFFF 50.56%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

}
.left-nav > button{
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    background-color: #13132B;
    color: white;
    border: 1px solid #2DFFFF;
    width: 73px;
    height: 36px;
    cursor: pointer;
}
.left-nav > a:hover {

    -webkit-text-fill-color: white;
    text-shadow: none;
    transition: all 0.5s ease-in-out;
    transform: scale(1.1);
  }
  .left-nav > button:hover{
    color: black;
    background-color: #2DFFFF;
    transition: all 0.5s ease-in-out;
  }
.home{
    background-color:#13132A;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 6rem;
}
.hi{
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.1em;
    color: #2DFFFF;
}
.name{

    font-weight: 700;
    font-size: 80px;

    background: linear-gradient(171.33deg, #FFFFFF 58.74%, rgba(255, 255, 255, 0) 93.35%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
.des{
    font-style: normal;
    font-weight: 700;
    font-size: 80px;

    background: linear-gradient(180deg, rgba(255, 255, 255, 0.9) 33.65%, rgba(255, 255, 255, 0) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
.des-two{

    width: 600px;
    height: 90px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.5);
}
.btn-brands{
    display: flex;
    justify-content: space-between;
    margin-top: 6rem;
}
.brand >img{
   padding: 0 10px;
   width: 25px;
}
.btn-brands > button{
    background-color: #13132B;
    color: white;
    border: 1px solid #2DFFFF;
    font-weight: 400;
    font-size: 13px;
    width: 211px;
    height: 50px;
    cursor: pointer;

}
.btn-brands > button:hover{
    color: black;
    background-color: #2DFFFF;
    transition: all 0.5s ease-in-out;
  }
.about-me{
    height: 600px;
    background-color:#13132A;
    padding: 0 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
.about-me > h3{
    color: white;
    font-weight: 600;
    font-size: 32px;
}
.text-image{
    display: flex;
    justify-content: space-between;
    padding-top: 4rem;
}
.text-image > p{
    width: 700px;
    height: 200px;
    font-weight: 400;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.5);
    text-align: left;

}
.text-image > img{
    width: 200px;
    height: 200px;
    border-radius: 5px;
}
.My-work{
    background-color:#13132A;
    min-height: 500px;
    padding: 0 6rem;
}
.My-work > h3{
    color: white;
    font-weight: 600;
    font-size: 32px;
}
.colm-one{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top: 4rem;
    transform: translateX(-100%);
    filter: blur(5px);
}
.box{
    width: 230px;
    height: 301px;
    background: #13132A;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    padding: 0 2rem;
    margin-top: 1rem;
    cursor: pointer;
}
.box:hover{
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
    box-shadow: 0px 0px 4px rgba(7, 167, 176, 0.818);
}
.top_folder{
    display:flex;
    justify-content: space-between;
}
.top_folder img{
    width: 40px;
    height: 40px;
    margin-top: 1rem;
}
.box > h3{
    margin-top: 1rem;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 21px;
    
    color: #FFFFFF;
    
    text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.25);
}
.box > p{

margin-top: 2rem;
font-weight: 400;
font-size: 14px;
color: rgba(255, 255, 255, 0.7);
}
.technologies{
    display: flex;
    justify-content: space-between;
}
.technologies p{
font-weight: 400;
font-size: 12px;
color: rgba(255, 255, 255, 0.3);
position: relative;
margin-top: 1rem;
}
.footer{
    background-color: black;
    color: white;
    font-size: 12px;
    height: 60px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.experience{
    min-height: 550px;
    background: #13132A;
    padding: 0 6rem;
}
.tab{
    display: flex;
    justify-content: center;
    margin-top: 6rem;
    
}
#list{
    font-weight: 400;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
    padding-left: 20px;
}

#jobroles{
    font-weight: 400;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.9);
    

}

.experience > h3{
    color: white;
    font-weight: 600;
    font-size: 32px;
}
.job > h4{
    font-weight: 600;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.8);
    padding-right: 20px;
}
.job{
    position: relative;
    z-index: 2;
    height: fit-content;
}
#marker{
    background-color: #2DFFFF;
    color: black;
    padding: 10px;
    
}


.roles{
    background-color: #1f1f3d;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    padding-left: 20px;
    position: relative;
    z-index: 1;
    height: 100px;
    border-left: 1px solid #2DFFFF;;
    padding: 10px;
    min-height:fit-content;
    overflow: auto;

}
.contact-me{
    background-color: #13132B;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-me > button{
    background-color: #13132B;
    color: white;
    border: 1px solid #2DFFFF;
    font-weight: 400;
    font-size: 13px;
    width: 211px;
    height: 50px;
    cursor: pointer;
}
.contact-me > button:hover{
    color: black;
    background-color: #2DFFFF;
    transition: all 0.5s ease-in-out;
}

.logo-links{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgray;
}
.logo-links img{
    width: 25px;
    height: 25px;
    padding: 10px;
    cursor: pointer;
}
.logo-links img:hover{
    transition: all 0.5s ease-in-out;
    transform: scale(1.1);

}
.hidden{
    opacity: 0;
    transition: all 1s;
}
.show{
    opacity: 1;
    filter: blur(0);
    transform: translate(0);
}
@media(prefers-reduced-motion){
    .hidden{
        transition: none;
    }
}